<div id = "<%= dom_id(@article)%>">
  <h2><%= @article %></h2>
  <h3>Score: <%= @article.score %></h3>

  <%= link_to 'Back', articles_path %>
  <% if logged_in? %>
    <%= link_to 'New Comment', new_article_comment_path(@article) %>
    <%= upvote_link(@article, current_user) %>
    <%= downvote_link(@article, current_user) %>
  <% end %>
</div>

<br>
<% @article.comments.each do |comment| %>
  <br>
  <%= render 'comments/comment', comment: comment %>
<% end %> 