<!DOCTYPE html>
<html>
<head>
  <title>Haxxor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Haxxor News</h1>
<br>
<% flash.keys.each do |key| %>
  <div class="flash <%= key %>"><%= flash[key] %></div>
<% end %>

<% if logged_in? %>
  <p><%= current_user %></p>
<% else %>
  <%= link_to("Create an Account", new_user_path) %>
  <%= link_to("Log in", new_session_path) %>
<% end %>
<%= yield %>

</body>
</html>
